.appBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  background-color: rgba(228, 250, 133, 0.795);
  border-bottom: 2px solid #0a8f13;
  box-shadow: 0 7px 8px 0px rgba(9, 145, 16, 0.77);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
@media screen and (min-width: 480px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
