@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: #77f39c;
  background-image: url('./images/1seamless-besshovnyi-tsvety-floral-pattern-pattern-16-min.png');
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
}
